<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Geert Roks</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/main.css">
    <%- style %>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Force browser to load all stylesheets in head first before loading layout (Flash Of Unstyled Content fix) -->
    <script>0</script>
    <div id="page">
        <header class="to-top">
            <%- include('../partials/header.ejs') %>
        </header>
        <main>
            <%- body %>
        </main>
    </div>

    <%- script %>
</body>
</html>
