    <!-- Quick about view -->
    <section id="about">
        <div class="container about-container">
            <div class="about-text">
                <h1>Geert Roks</h1>
                <h3>Maker</h3>
                <p>Amet cupiditate error voluptas quaerat possimus veniam! Minus blanditiis delectus rerum obcaecati delectus, asperiores cumque quae. Esse rerum delectus explicabo itaque nam ut dolore Atque esse aut possimus mollitia tempora?</p>
            </div>
            <div class="about-img">
                <img src="placeholder" alt="Picture of me">
            </div>
        </div>

    </section>

    <!-- Quick portfolio view -->
    <section id="portfolio">
        <div class="container">
            <article class="post">
                <h1>Postname</h1>
                <p>The time now is: <%= new Date() %></p>
            </article>
            <article class="post">
                <h1>Postname</h1>
                <p>The time now is: <%= new Date() %></p>
            </article>
            <article class="post">
                <h1>Postname</h1>
                <p>The time now is: <%= new Date() %></p>
            </article>
            <article class="post">
                <h1>Postname</h1>
                <p>The time now is: <%= new Date() %></p>
            </article>
        </div>
    </section>
