<link rel="stylesheet" href="/css/index.css">

<!-- Quick about view -->
<section id="about">
    <div class="container">
        <div class="about-text">
            <h1>Geert Roks</h1>
            <h3>Maker</h3>
            <p>Amet cupiditate error voluptas quaerat possimus veniam! Minus blanditiis delectus rerum obcaecati delectus, asperiores cumque quae. Esse rerum delectus explicabo itaque nam ut dolore Atque esse aut possimus mollitia tempora?</p>
            <div class="btn-wrapper">
                <div class="btn btn-dark">Check out my work</div>
                <div class="btn btn-light">Get in contact</div>
            </div>
        </div>
        <div class="about-img">
            <img src="https://source.unsplash.com/featured/?face,creative,portrait">
        </div>
    </div>

</section>

<!-- Quick portfolio view -->
<section id="portfolio">
    <div class="container">
        <div class="cards">
            <%- include('./partials/project-card.ejs') %>
        </div>
        <div class="btn-wrapper btn-wrapper-center">
            <div class="btn btn-big btn-light">See more</div>
        </div>
    </div>
</section>

<script>
    let projects = document.getElementsByClassName('card');
        Array.from(projects).forEach(project => {
                project.addEventListener('click', (event) => {
                        let slug = event.target.closest(".card").id;
                        window.location = '/projects/' + slug;
                    });
            });
</script>
