<link rel="stylesheet" href="/css/project.css">

<img class="project-image" src=<%=project.image%>>
<article class="project">
    <div class="container-text">
        <div class="project-header">
            <h1><%= project.title %></h1>
            <h4 class="date">
                <%= new Intl.DateTimeFormat("en-US", { month: "short", year: "numeric" }).format(project.date) %>
            </h4>
        </div>
        <div class="project-content">
            <%- project.contentHTML %>
        </div>
    </div>
</article>
