<link rel="stylesheet" href="/css/projects.css">
<section>
    <div class="container">
        <div class="cards">
            <%- include('./partials/project-card.ejs') %>
        </div>
    </div>
</section>
