header {
    font-size: 1em;
    margin-bottom: 3em;
    transition: 0.75s;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header.to-top {
    height: 4em;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-primary);
}
header.to-top h1 {
    font-size: 2em;
    width: max-content;
    margin: 0;
    margin-left: 1.5em;
}
header.to-top li {
    font-size: 1em;
}
header.to-top .brand ul {
    display: none;
}
header.to-top .brand::after {
    display: none;
}
header.to-top .brand {
    float: left;
}
header.to-top nav {
    float: right;
}

.brand {
    padding: auto;
    text-align: center;
}
.brand::after {
    content: '';
    border: 1px solid black;
    display: inline-block;
    width: 100%;
}
.brand h1 {
    font-size: 7em;
    margin: 0.5em 0;
}
.brand li {
    width: 8em;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
}

nav li {
    width: 7em;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: var(--clr-accent-light);
}

main .post {
    width: 100%;
    height: 15em;
    margin: 0.5em 0;
    border: 1px solid black;
}
