/* Quick about view */
#about {
    height: 35em;
    background: tan;
}
#about .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.about-text {
    width: 60%;
}
.about-text h1 {
    font-size: 5em;
    margin: 0.25em 0;
}
.about-text h3 {
    font-size: 2em;
}
.about-img {
    width: 40%;
}


/* Quick portfolio view */
#portfolio {
    margin: 2.5em 0;
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1em;
    margin-bottom: 1.5em;

}
.card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    padding: 1em 2em;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h1 {
    font-size: 1.5em;
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}
@media (min-width: 1200px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}
