/* Quick about view */
#about {
    height: 35em;
    background: tan;
}
#about .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.about-text {
    width: 60%;
}
.about-text h1 {
    font-size: 5em;
    margin: 0.25em 0;
}
.about-text h3 {
    font-size: 2em;
}
.about-img {
    width: 40%;
}


/* Quick portfolio view */
#portfolio .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project {
    width: 20em;
    margin: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    padding: 1em 2em;
}
.project:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project h1 {
    font-size: 1.5em;
}
