:root {
    --clr-light: #fafbfc;
    --clr-primary: #c74e43;
    --clr-accent-light: #fbb323;
    --clr-accent-dark: #748181;
    --clr-dark: #161B27;

    --ff-primary: "Roboto", sans-serif;
    --ff-accent: "Playfair Display", serif;

    --w-mobile-only: 599px; /* mobile portrait: 0 to 599px */
    --w-tablet-portrait-up: 600px; /* tablet portrait + mobile landscape: 600px to 899px */
    --w-tablet-landscape-up: 900px; /* small laptops + tablet landscape: 900px to 1199px */
    --w-laptop-up: 1200px; /* laptops: 1200px to 1799px */
    --w-desktop-up: 1800px; /* big desktops: 1800px and up */
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p {
    margin: 0;
}

h1, h2, h3 {
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
}

h2, h3, p {
    margin-bottom: 1em;
}

img {
    position: block;
    max-width: 100%;
}

/* ----------------- */
/*    Breakpoints    */
/* ----------------- */

/* Mobile first */
html {
    font-size: 13px;
}
body {
    font-family: var(--ff-primary);
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--clr-light);
}

/* Mobile screens only */
@media (max-width: 599px) {

}

/* Tablet portrait and bigger screens */
@media (min-width: 600px) {
    html {
        font-size: 15px;
    }
}

/* Tablet landscape and bigger screens */
@media (min-width: 900px) {
}

/* Laptop and bigger screens */
@media (min-width: 1200px) {
    html {
        font-size: 17px;
    }
}

/* Desktop and bigger screens */
@media (min-width: 1800px;) {
}


/* Utility classes */
.container {
    margin: auto;
    width: min(90%, 70.5rem);
}
