.project-image-container {
    height:25em;
}
.project-image {
    position: fixed;
    z-index: -20;
    top: 4em;
    height: 25em;
    width: 100%;
    object-fit: cover;
}
article.project {
    background-color: var(--clr-light);
    box-shadow: 0px 3em 3em 8em var(--clr-light);
    padding: 3em 0;
}
.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
