textarea {
    width: 100%;
}
#title, #greeting {
    font-size: 2em;
    font-weight: bold;
    height: max-content;
}
#snippet, #bio {
    height: 7em;
}
#content, #main-about {
    min-height: 30em;
}

.form-group {
    margin: 0.7em 0;
}
label {
    display: inline-block;
}
input, label {
    width: 100%;
}
select {
    width: 10em;
}

.project-preview, .project-edit, .about-preview, .about-edit {
    margin-bottom: 1.5em;
}
