<link rel="stylesheet" href="/css/project.css">
<link rel="stylesheet" href="/css/cms/form.css">

<img class="project-image" src=<%=project.image%>>
<article id="<%= project.slug %>" class="project">
    <div class="container-text">
        <% if (type == "new") { %>
            <%- include('./partials/form-new-project.ejs') %>
        <% } else { %>
            <%- include('./partials/form-update-project.ejs') %>
        <% } %>
    </div>
</article>

