<link rel="stylesheet" href="/css/project.css">
<link rel="stylesheet" href="/css/cms/project.css">
<link rel="stylesheet" href="/css/cms/form.css">

<div class="project-image-container">
    <img class="project-image" src=<%=project.image%>>
    <div class="project-image-options">
        <div class="btn">Change image</div>
    </div>
</div>
<article id="<%= project.slug %>" class="project">
    <div class="container-text">
        <% if (type == "new") { %>
            <%- include('./partials/form-new-project.ejs') %>
        <% } else { %>
            <%- include('./partials/form-update-project.ejs') %>
        <% } %>
    </div>
</article>

