<link rel="stylesheet" href="/css/project.css">
<link rel="stylesheet" href="/css/cms/project.css">

<img src=<%=project.image%>>
<article class="project container">
    <div class="btn-wrapper">
        <div class="btn selected">edit</div>
        <div class="btn">preview</div>
    </div>

    <form action="/api/projects" method="POST">
        <%- include ('./partials/form-fields.ejs') %>
    </form>

    <form action="/api/projects/<%= project._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">Delete</div>
    </form>
</article>
