.overlay {
    position: absolute;
    top: 4em;
    left: 20em;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-browser {
    position: static;
    width: 80%;
    height: 80%;
    background-color: white;
}
.image-browser header {
    height: 4em;
    padding: 1em;
    justify-content: space-between;
}
.image-container {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 2em;
}
.card--image-only {
    height: 10em;
    width: 100%;
    /* background-color: red; */
    object-fit: cover;
}
.card--image-only.selected {
    border: 2px solid var(--clr-primary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
