textarea {
    width: 100%;
}
#title {
    font-size: 2em;
    font-weight: bold;
    height: max-content;
}
#snippet {
    height: 7em;
}
#content {
    min-height: 30em;
}

.form-group {
    margin: 0.7em 0;
}
label {
    display: inline-block;
}
input, label {
    width: 100%;
}
select {
    width: 10em;
}

.btn.selected {
    background-color: #efefef;
    border: 1px solid black;
}
