.project-image-options {
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image-container:hover .project-image {
    opacity: 0.3;
}
.project-image-container:hover .project-image-options {
    opacity: 1;
}
