@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply mb-2 text-justify;
  }
}

@layer utilities {
  .aspect-square {
    aspect-ratio: 1 / 1;
  }
  .h-screen-40 {
    height: 40vh;
  }
  .h-screen-50 {
    height: 50vh;
  }
  .h-screen-60 {
    height: 60vh;
  }
}
