<form action="/api/projects" method="POST" class="">
    <div class="project-preview hidden"></div>

    <div class="project-edit">
        <%- include('./form-fields.ejs') %>
    </div>

    <div class="btn-wrapper">
        <button type="submit" class="btn btn-dark">Save</button>
        <div id="preview-btn" class="btn btn-toggle">Preview</div>
        <a href="/cms/projects" class="btn btn-light">Cancel</a>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    let preview_btn = document.getElementById('preview-btn');
    let preview_window = document.querySelector('.project-preview');
    preview_btn.addEventListener('click', event => {
        if (event.target.innerHTML == "Edit") {
            preview_btn.innerHTML = "Preview";
            document.querySelector('.project-preview').classList.add('hidden');
            document.querySelector('.project-edit').classList.remove('hidden');
            while(preview_window.firstChild) {
                preview_window.removeChild(preview_window.lastChild);
            }
        } else if(event.target.innerHTML =="Preview") {
            preview_btn.innerHTML = "Edit";
            document.querySelector('.project-preview').classList.remove('hidden');
            document.querySelector('.project-edit').classList.add('hidden');

            let headerdiv = document.createElement('div');
            let title = document.createElement('h1');
            title.innerHTML = document.querySelector('input#title').value;
            let date = document.createElement('p');
            const month = document.querySelector('#date-month').value;
            const year = document.querySelector('#date-year').value;
            date.innerHTML = new Intl.DateTimeFormat("en-US", { month: "short", year: "numeric" }).format(new Date(year, month));
            headerdiv.appendChild(title);
            headerdiv.appendChild(date);
            preview_window.appendChild(headerdiv);
            preview_window.innerHTML += marked(document.querySelector('textarea#content').value);
        }
    });
</script>

<script>
    // select current month of date picker
    const month_selector = document.getElementById('date-month');
    let current_month = new Date().getMonth();
    month_selector.value = current_month;
</script>
