<div class="form-group">
    <label for="title">Title</label>
    <input required type="text" name="title" id="title" value="<%= post.title %>" >
</div>
<div class="form-group">
    <label for="snippet">Snippet</label>
    <textarea name="snippet" id="snippet"><%= post.snippet %></textarea>
</div>
<div class="form-group">
    <label for="content">Content</label>
    <textarea required name="content" id="content"><%= post.content %></textarea>
</div>

<button type="submit" class="btn btn-dark">Save</button>
<a href="/cms/projects" class="btn btn-light">Cancel</a>
