<form action="/api/projects/<%- project.slug %>?_method=PATCH" method="POST">

    <%- include('./form-fields.ejs') %>

    <div class="btn-wrapper">
        <button type="submit" class="btn btn-dark">Save</button>
        <div id="preview-btn" class="btn btn-toggle">Preview</div>
        <a href="/cms/projects" class="btn btn-light">Cancel</a>
        <div id="delete-btn" class="btn btn-danger">Delete</div>
    </div>
</form>

<script>
    const deleteProject = (slug) => {
        const url = "http://localhost:3000/api/projects/" + slug;
        fetch(url, {
            method: 'Delete',
            headers: {
                'Content-Type': 'application/json'
            },
            cache: "no-cache",
            redirect: "follow",
            body: null
        })
        .then(response => {
            if (response.ok) {
                window.location.href = "/cms/projects";
            }
        })
        .catch(err => {
            console.log(err);
        });
    }
    const delete_btn = document.getElementById('delete-btn');
    delete_btn.addEventListener('click', event => {
        deleteProject(event.target.closest('article').id);
    });
</script>
