<div class="form-group">
    <label for="title">Title</label>
    <input required type="text" name="title" id="title" value="<%= project.title %>" >
</div>
<div class="form-group">
    <label for="snippet">Snippet</label>
    <textarea name="snippet" id="snippet"><%= project.snippet %></textarea>
</div>
<div class="form-group">
    <label for="content">Content</label>
    <textarea required name="contentMD" id="content"><%= project.contentMD %></textarea>
</div>
