<form action="/api/projects" method="POST" class="">

    <%- include('./form-fields.ejs') %>

    <div class="btn-wrapper">
        <button type="submit" class="btn btn-dark">Save</button>
        <div id="preview-btn" class="btn btn-toggle">Preview</div>
        <a href="/cms/projects" class="btn btn-light">Cancel</a>
    </div>
</form>

<script>
    // select current month of date picker
    const month_selector = document.getElementById('date-month');
    let current_month = new Date().getMonth();
    month_selector.value = current_month;
</script>
